/* Title Section Start */

#title{
    background-image: linear-gradient(to bottom, #1b4585, #574c9d, #8f4cab, #c746ac, #fb3ea1);
}

.sub-title{
    font-size: medium;
}

.navbar-brand{
    font-family: 'Rampart One', cursive;
    font-size: 3rem;
    color:white;
    margin-right: 0;
}
h1{
    font-family: 'Cinzel', serif;
    line-height: 1.5;
   font-size: 2rem; 
   color:white;
   font-weight: 1000;
}
.love{
    width: 100px;
}
.container-fluid{
    padding: 3% 15% 3% 15%;
}
.apple{
    width: 2rem;
}
.playstore{
    width: 2rem;
}
.nav-link{
    color: white;  
    font-size: larger;  
}
.navbar-headings{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size:larger;
}
.nav-item{
    padding: 0 18px;
}

.title-img-row{
    width:20rem;
}

.title-cat-img-1{
    width: 15rem;
    height: 20rem;
}

.title-cat-img-2{
    width: 15rem;
    height: 20rem;
    margin-left: 5rem;
    margin-top: 1rem;
}

#navbarTogglerDemo01{
    margin-left: 15rem;
}
#title-main-div{
    padding:1rem 5rem 4rem 5rem;
}
.download-btn{
    margin-top: 4rem;
    margin-left: 2rem;
}
/* Title Section End */


/*features start*/

#features{
    padding-top: 4rem;
    padding-bottom: 4rem;
    line-height: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.feature-icons{
    color:#ef8172 ;
}

.feature-icons:hover{
    color: #FF4C68;
}

.feature-heading{
    font-family: 'Fredoka One';
}

.feature-body{
    font-family: 'Sono', sans-serif;
}

/*features end*/

/* Testimonials  */

.testimonial-img{
    width: 20%;
}

#testimonials{
    background-color: #ef8172;
    margin-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Testimonials End */

/* Companies Start*/

#companies{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.companies-img{
    width:10rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.bumble-img{
    padding-left: 2.5rem;
    padding-top: 1.5rem;
    padding-right: 0;
}

/* Companies end */

/* pricing start*/
.pricing{
    margin-top:4rem;
    margin-bottom: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color:#DDF7E3;
}
.pricing-heading{
    margin-top:2rem;
    margin-bottom: 4rem;
}

.pricing-body-content{
    line-height: 2;
}

.pricing-body-content-3{
    line-height: 1.5;
}

.border-info{
    border-width: 0.3rem;
}

.mycard1:hover{
    transform: rotateZ(30deg);
    transition-duration: 1000ms;
}

.mycard2:hover{
    transform: rotateZ(30deg);
    transition-duration: 1000ms;
}

.mycard3:hover{
    transform: rotateZ(30deg);
    transition-duration: 1000ms;
}

/* pricing end */


/* call to action start*/

#cta{
    background-color:#FF4C68;
    padding: 4rem 4rem;
    margin-top:4rem;
    margin-bottom: 4rem;
}

.cta-download{
    padding-top:2rem;
}


/* call to action end */


/* footer start */

#footer{
    padding: 4rem 4rem 0 4rem;
    margin-top:4rem;
}
.footer-icons{
    padding-left:0;
    padding-right: 0;
}


/* footer end */